.NewsBoard {
  width: 100%;
  height: 100%;

  .records {
    text-align: center;
    span:nth-child(1) {
      font-weight: bold;
      font-size: 1.3rem;
      color: #ff004f;
    }
    span:nth-child(2) {
      font-style: italic;
      color: red;
    }
  }
}

.stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

/* customizing page at mobile preference */
@media (max-width: 60rem) {
  .stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
