.TableContainer {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--dark-bg-color2);
  /* background-color: #fff; */
  border-radius: 0.55rem;

  h2,
  td {
    text-align: center;
  }

  .add_Link_container {
    /* background-color: blue; */
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;

    .add_btn {
      width: 8rem;
      padding: 0.55rem;
      margin: 0.55rem;
      background-color: green;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      color: white;
    }
  }

  .add_btn:hover {
    background-color: black;
  }

  table {
    margin-top: 1rem;
    width: 100%;
    box-shadow: 7px 9px 10px black;
    cursor: pointer;

    th {
      background-color: blue;
      padding: 0.5rem 0;
    }

    tr {
      background-color: #eeeeee;
    }

    td {
      color: black;
    }

    .Action_Btn {
      display: flex;
      justify-content: center;
      padding: 0.4rem 0;
    }

    /* Table button */
    .table_btn {
      transition: background-color 0.3s;
    }

    .table_btn:hover {
      background-color: #101010;
    }
  }
}

/* @media screen {
  stack {
    display: flex;
    flex-direction: column;
  }
} */
