header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 1rem;
  text-align: center;

  .Text-header-news {
    background-color: crimson;
    padding: 0.2rem 0.55rem;
    border-radius: 6px;
  }
}
