.container {
  background: var(--gradient2);

  margin: auto;
  padding: 2rem;
  height: 100dvh;
  max-width: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 80%;
    color: black;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 6px 8px black;

    h1 {
      text-align: center;
    }

    .line {
      background: var(--gradient2);
      width: 5rem;
      height: 3px;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 1rem;
    }
  }

  span {
    color: red;
  }
}
